@mixin flex-container(
  $align-items: false,
  $justify-content: false,
  $flex-wrap: false,
  $flex-direction: false
) {
  display: flex;

  @if $align-items != false {
    align-items: $align-items;
  }
  @if $justify-content != false {
    justify-content: $justify-content;
  }
  @if $flex-wrap != false {
    flex-wrap: $flex-wrap;
  }
  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }
}

@mixin flex-items(
  $flex-basis: false,
  $flex-grow: false,
  $flex-shrink: false,
  $order: false,
  $align-self: false
) {
  @if $flex-basis != false {
    flex-basis: $flex-basis;
  }
  @if $flex-grow != false {
    flex-grow: $flex-grow;
  }
  @if $flex-shrink != false {
    flex-shrink: $flex-shrink;
  }
  @if $order != false {
    order: $order;
  }
  @if $align-self != false {
    align-self: $align-self;
  }
}
@mixin position(
  $position: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
